<div class="index-wrapper">
    <!-- ========================
        #HEADER 
============================== -->
    <div id="home" class="scrollspy-trigger"></div>
    <div class="header position-relative pt-lg-3">
        <!-- ===#DOTTED BG=== -->
        <div class="dots-vector dots-vector__right"></div>
        <div class="dots-vector dots-vector__left"></div>
        <div class="container site-container header__content-wrapper">
            <div class="row">
                <div class="col-12 col-md-9 col-lg-9 col-xl-8" data-aos="fade-up">
                    <h2 class="header__title">Driving your<br>
                        <span class="primary-color">financial Growth</span> towards<br>a <span
                            class="primary-color">better tomorrow.</span>
                    </h2>
                    <p class="header__text mt-2">We provide a platform for you to monitor your financial growth and<br
                            class="d-none d-lg-inline-block">
                        assist you at
                        every step for a better future, today and tomorrow.</p>
                    <!-- <p class="header__text mt-2">LET'S BE RICH !</p> -->
                    <a class="btn primary-button mt-4 mt-lg-5" href="#">Join Us <img class="img-fluid"
                            src="/images/icons/arrow.svg" alt="arrow"></a>
                    <div class="social-icons fill-primary">
                        <a class="social-icons__link" href="https://www.facebook.com/smvvedutech.advisory"
                            target="_blank">
                            <svg class="social-icons__media">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                        <a class="social-icons__link" href="https://instagram.com/smvv_edutech?utm_medium=copy_link"
                            target="_blank">
                            <svg class="social-icons__media ">
                                <use xlink:href="#instagram"></use>
                            </svg>
                        </a>
                        <a class="social-icons__link"
                            href="https://www.linkedin.com/company/smvv-edutech-advisory-pvt-ltd" target="_blank">
                            <svg class="social-icons__media">
                                <use xlink:href="#linkedin"></use>
                            </svg>
                        </a>
                        <!-- <a class="social-icons__link"  href="" target="_blank">
                                                        <svg class="social-icons__media">
                                                            <use xlink:href="#twitter"></use>
                                                        </svg>
                                                        </a>
                                                            <a class="social-icons__link"  href="" target="_blank">
                                                        <svg class="social-icons__media">
                                                            <use xlink:href="#youtube"></use>
                                                        </svg>
                                                        </a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="header__hero-wrapper">
            <div class="container site-container" data-aos="fade-up">
                <!-- <img class="img-fluid header__hero" src="/images/header-hero.svg" alt="header hero"> -->
                <object class="img-fluid header__hero" data="/images/header-hero.svg" type="image/svg+xml"></object>
            </div>
        </div>
    </div>
    <!-- ==========================
        #END HEADER 
=============================== -->

    <!-- ==========================
    #CERTIFICATE SECTIONS
================================ -->
    <div class="primary-bg certificate-section pb-5">

        <div class="container site-container">
            <h3 class="font-size-23 text-center mb-4">CERTIFICATES</h3>
            <div id="certificatesSlider"
                class="slider certificate-slider equal-height-slides dots-slider dots-slider--hiden-mobile">
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/bse.png"
                        alt="Google safe browsing">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/goverment.png" alt="SSL Transaction">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/nse.png"
                        alt="Google safe browsing">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/spice.png" alt="SSL Transaction">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/red-lamp.png"
                        alt="Google safe browsing">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/gov-affairs.png" alt="SSL Transaction">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/msme.png"
                        alt="Google safe browsing">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/bse.png"
                        alt="Google safe browsing">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/goverment.png" alt="SSL Transaction">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/nse.png"
                        alt="Google safe browsing">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/spice.png" alt="SSL Transaction">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/red-lamp.png"
                        alt="Google safe browsing">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/gov-affairs.png" alt="SSL Transaction">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/msme.png"
                        alt="Google safe browsing">
                </div>
                <!-- <div class="slider__slide">
                    <img class="img-fluid" src="/images/certificates/ssl-transcation.png" alt="SSL Transaction">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/google-safe-browsing.png"
                        alt="Google safe browsing">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/ssl-transcation.png" alt="SSL Transaction">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/google-safe-browsing.png"
                        alt="Google safe browsing">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/ssl-transcation.png" alt="SSL Transaction">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/google-safe-browsing.png"
                        alt="Google safe browsing">
                </div>
                <div class="slider__slide">
                    <img class="img-fluid mx-auto" src="/images/certificates/ssl-transcation.png" alt="SSL Transaction">
                </div> -->
            </div>
        </div>
    </div>
    <!-- ===========================
    #END CERTIFICATE SECTIONS
================================ -->
    <div class="spacer-100 mb-n3"></div>
    <!-- =========================
    #SERVICES
============================== -->
    <div id="services" class="scrollspy-trigger"></div>
    <div class="services-section position-relative">
        <div class="dots-vector dots-vector__right" data-aos="zoom-in" data-aos-delay="500"></div>
        <img class="img-fluid waves w-100" src="/images/waves2.svg" alt="waves">
        <div class="container site-container position-relative">
            <h3 class="primary-title text-center mx-auto" data-aos="fade-up">Our Service</h3>
            <p class="font-size-22 secondary-font-color mt-3 text-center" data-aos="fade-up">Our carefully designed
                services assist you in all phases, right from setting up
                and learning how to invest and in what to invest, to achieving long term financial success
                and security. Through our services we aim to put our clients first by providing them with the
                best of assistance possible.</p>
            <div class="spacer-60"></div>
            <div class="standout-box-container d-md-flex justify-content-md-center">
                <div class="standout-box text-center" data-aos="fade-up">
                    <div>
                        <div class="standout-box__header">
                            <img class="img-fluid" width="123" height="103" src="/images/money-seeds.svg"
                                alt="money seeds">
                            <h4 class="standout-box__title my-2 ">
                                Money Seeds</h4>
                            <!-- ===#NOTE: Has height for alignment=== -->
                            <p class="standout-box__text font-size-14 standout-box__text--margin">Our experienced team
                                of financial experts
                                and analysts educate you and guide you
                                through your investments. </p>
                            <h5 class="standout-box__sub-title mb-3">Monthly- Rs. 999/-<br><span
                                    class="font-size-12">(incl.
                                    taxes)</span></h5>
                        </div>
                        <ul class="bullet-list d-table mx-auto font-size-14">
                            <li>Personalized daily tips are provided via calls explaining potential investment
                                leads and what their potential yields would be in the future.</li>
                            <li>The tips provided are over 90% accurate.</li>
                            <li>Additionally, portfolio management services are provided.</li>
                        </ul>
                    </div>
                    <a class="btn primary-button mt-4" href="http://localhost:4200/smvv/payment">Join Us <img class="img-fluid"
                            src="/images/icons/arrow.svg" alt="arrow"></a>
                </div>
                <div class="standout-box text-center" data-aos="fade-up">
                    <div>
                        <div class="standout-box__header">

                            <img class="img-fluid" width="123" height="103" src="/images/money-plants.svg"
                                alt="money seeds">
                            <h4 class="standout-box__title my-2 ">
                                Money Plants</h4>
                            <!-- ===#NOTE: Has height for alignment=== -->
                            <p class="standout-box__text font-size-14 mb-3">If you are not quite the risk taker or do
                                not
                                wish to get into trading but need a steady financial growth then ‘Money
                                Plants’ is your go-to service</p>
                        </div>
                        <h5 class="standout-box__sub-title mb-3">No hidden fees or charges
                            involved.</h5>

                        <ul class="bullet-list d-table mx-auto font-size-14">
                            <li>You invest a base amount in our company SMVV Edutech in the form of a notarized bond.
                            </li>
                            <li>Every month you receive 10% rate of interest on your base amount for 10 months and on
                                the
                                11th month you get back your
                                base amount thus growing your investment into double in 11 months.</li>
                            <li>Your notarized bond is accompanied with post-dated cheques from us.</li>
                        </ul>
                    </div>
                    <a class="btn primary-button mt-4" href="#">Join Us <img class="img-fluid"
                            src="/images/icons/arrow.svg" alt="arrow"></a>
                </div>
            </div>
            <div class="spacer-60"></div>

        </div>
    </div>
    <!-- =========================
    #END SERVICES
============================== -->
    <!-- =========================
    #ABOUT
============================== -->
    <div id="about" class="scrollspy-trigger"></div>
    <div class="about-section primary-bg">
        <div class="spacer-100"></div>
        <div class="container site-container">
            <h3 class="primary-title primary-title--underline ml-lg-0 mb-3 mb-lg-0" data-aos="fade-up">About Us</h3>
            <div class="spacer-40 d-none d-lg-block"></div>
            <div class="row justify-content-between ">
                <div class="col-12 col-lg-6 aos-init aos-animate mb-3" data-aos="fade-up">
                    <p class="font-size-18 text-lg-left">We are a company that was established in March 2021 at Panjim,
                        Goa, backed by a prior
                        experience of over 20 years in this field. We have a team of highly experienced experts with
                        a strong financial and analytical background who are passionate about fostering and
                        growing your finances with over 90% accuracy.<br><br>
                        Our motivation behind this venture is to educate people; especially the youth of our country
                        about smart investments that help
                        them and the nation grow for we realized that no formal education system teaches them
                        about this. And we base all these values on a strong foundation of trust, honesty and
                        transparency by giving our clients a clear view of what’s going backed by legal affirmations,
                        no hidden charges or costs other than what’s mentioned and a portfolio record that remains
                        untouched or unedited by us that the client can monitor at all times and for every time
                        period right from the beginning when they first started off. Our entire team strongly believes
                        in the motto “We <strong>SUCCEED</strong> when you <strong>GROW</strong>” and put all our
                        efforts to your growth before
                        anything else.</p>
                </div>

                <div class="col-12 col-lg-5 text-center" data-aos="fade-up" data-aos-delay="500">
                    <img class="img-fluid site-logo-hero mt-4" src="/images/smv-hero.svg"
                        alt="SMVV edutech advisory pvt ltd">
                    <!-- ===#ABOUT SERVICES===  -->
                    <div class="spacer-40"></div>

                    <div class="row text-heighter-wrapper text-left">
                        <div class="col-sm-12 col-md-6 text-highlighter__col">
                            <p class="text-highlighter">20 YEARS OF<br>EXPERIENCE</p>
                        </div>
                        <div class="col-sm-12 col-md-6 order-sm-last text-highlighter__col">
                            <p class="text-highlighter ">GROWING YOUR FINANCES<br>90% ACCURACY </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer-60"></div>
            <div>
                <h4 class="">Our Vision</h4>
                <div class="spacer-40 d-none d-lg-block"></div>
                <p class="font-size-18">Our vision is to educate all the people chiefly the youth of this country about
                    investments and financial growth by
                    being a leading asset management and educational company that is trusted in every household and
                    business.
                </p>

            </div>


        </div>
        <div class="spacer-100"></div>
    </div>
    <!-- =========================
    #END ABOUT
============================== -->

    <!-- =========================
    #OUR MISSION
============================== -->
    <div class="mission-section">
        <div class="spacer-100"></div>
        <div class="container site-container">
            <div class="mission-left-right-div">
                <div class="mission-left-div">

                    <div class="row justify-content-between">
                        <div class="col-12 col-lg-7 mb-4" data-aos="fade-up">
                            <h3 class="primary-title primary-title--underline ml-lg-0 mb-3 mb-lg-0 font-size-37"
                                data-aos="fade-up">Our Mission
                            </h3>
                            <div class="spacer-40 d-none d-lg-block"></div>

                            <p class="font-size-18">
                                Our mission is to act as the catalyst towards your financial growth and help you attain
                                your
                                long term financial goals and security. We achieve this through carefully analysed tips
                                that
                                are passed on to our clients and help educate them about market trends and portfolio
                                management with no age bar. We curate tailored and strategized techniques for both first
                                timers and long term financial players.
                            </p>
                        </div>
                        <div class="mission-right-div col-12 col-lg-5 text-center text-lg-right" data-aos="fade-up"
                            data-aos-delay="500">
                            <img src="/images/flame.png" alt="flame.png" class="flame-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer-100"></div>

    <!-- =========================
    #END OUR MISSION
============================== -->
    <!-- =========================
    #TESTIMONIAL
============================== -->
    <div id="testimonial" class="scrollspy-trigger"></div>
    <div class="testimonial-section primary-bg" data-aos="fade-up">
        <div class="spacer-40 d-none d-md-block"></div>
        <div class="spacer-10"></div>
        <div class="spacer-60"></div>
        <div class="container site-container">
            <h3 class="primary-title primary-title--underline-center text-center mx-auto mb-3 font-size-37">Testimonial
            </h3>
            <p class="font-size-18 text-center col-12 col-lg-8 px-0 mx-auto">Our Company is build on the values of
                Honesty, Transparency, Trust, Teamwork, Reliability,
                Client First mind-set, Excellence and 100% Effort in everything we do, Here’s what our
                clients have to say</p>
        </div>
        <!-- ===#TESTIMINIAL SLIDER=== -->
        <div class="right-aligned-conatiner-desk">
            <div id="testimonialSlider" class="cards-slider equal-height-slides dots-slider">
                <div class="cards-slider__slide">
                    <div class="cards-slider__header d-flex">
                        <div class="cards-slider__img">
                            <img class="img-fluid cards-slider__img-media" width="62" height="62"
                                src="/images/users/pushkar-dubey.png" alt="testimonial">
                        </div>
                        <div class="cards-slider__deatils">
                            <h4 class="cards-slider__name">Dr Pushkar Dubey</h4>
                            <p class="cards-slider__occupation">Dermatologist</p>
                        </div>
                    </div>
                    <div class="cards-slider__body">
                        <p class="cards-slider__text">If I were to put my experience with the company’s services in a
                            few words then I have had a wonderful experience with
                            SMVV EDUTECH. They maintain such humble and friendly behaviour and have never faltered to
                            guide or help at any given
                            time. They are honest, trustworthy and have a very family-like vibe when they explain things
                            and guide me through. They
                            are very patient and well-informed.</p>
                    </div>
                </div>
                <div class="cards-slider__slide">
                    <div class="cards-slider__header d-flex">
                        <div class="cards-slider__img">
                            <img class="img-fluid cards-slider__img-media" width="62" height="62"
                                src="/images/users/nelson-dsouza.png" alt="testimonial">
                        </div>
                        <div class="cards-slider__deatils">
                            <h4 class="cards-slider__name">Mr.Nelson Dsouza</h4>
                            <p class="cards-slider__occupation">Senior Shift Manager Deltin Corp</p>
                        </div>
                    </div>
                    <div class="cards-slider__body">
                        <p class="cards-slider__text">I am absolutely delighted with your service. It is really
                            refreshing to work with a financial adviser who is truly
                            interested in their client’s needs, circumstances and preferences. What really impressed me
                            was the way you took the
                            time to get a feeling for where I was at, your depth of knowledge, lateral thinking and your
                            common sense approach. Your
                            professional, ethical and caring demeanour elicits my trust and respect and I gladly
                            recommend your services whenever
                            possible.</p>
                    </div>
                </div>
                <div class="cards-slider__slide">
                    <div class="cards-slider__header d-flex">
                        <div class="cards-slider__img">
                            <img class="img-fluid cards-slider__img-media" width="62" height="62"
                                src="/images/users/sikandar-shaikh.png" alt="Sikandar Shaikh">
                        </div>
                        <div class="cards-slider__deatils">
                            <h4 class="cards-slider__name">Sikandar Shaikh</h4>
                            <p class="cards-slider__occupation"></p>
                        </div>
                    </div>
                    <div class="cards-slider__body">
                        <p class="cards-slider__text">My wife is exceptionally happy. We’ve joined SMVV EDUTECH as an
                            attempt to educate our son and ourselves about stocks
                            and investments and so far my family and I have had a very good experience. Our son learns
                            so much now through SMVV that
                            he probably knows more about stocks than my wife and I do.</p>
                    </div>
                </div>
                <div class="cards-slider__slide">
                    <div class="cards-slider__header d-flex">
                        <div class="cards-slider__img">
                            <img class="img-fluid cards-slider__img-media" width="62" height="62"
                                src="/images/users/mother-beautician.png" alt="Sikandar Shaikh">
                        </div>
                        <div class="cards-slider__deatils">
                            <h4 class="cards-slider__name">Mother Beautician & son 9th standard</h4>
                            <p class="cards-slider__occupation"></p>
                        </div>
                    </div>
                    <div class="cards-slider__body">
                        <p class="cards-slider__text">My wife is exceptionally happy. We’ve joined SMVV EDUTECH as an
                            attempt to educate our son and ourselves about stocks
                            and investments and so far my family and I have had a very good experience. Our son learns
                            so much now through SMVV that
                            he probably knows more about stocks than my wife and I do.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =========================
    #END TESTIMONIAL
============================== -->
    <div class="spacer-100"></div>

    <div class="container site-container">
        <!-- ======================
                #JOIN US SECTION
             ==========================-->
        <div id="careers" class="scrollspy-trigger"></div>
        <div class="primary-bg join-us-box position-relative mx-n3 mx-sm-0">
            <!-- ===#VECTOR=== -->
            <div class="dots-vector dots-vector__right" data-aos="fade-up" data-aos-delay="500"></div>
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 order-lg-last" data-aos="fade-up" data-aos-delay="500">
                    <h3 class="primary-title mb-4 mx-auto ml-lg-0">Join Us</h3>
                    <p class="font-size-16 ">If you have a knack for investment or business finance, a critical and
                        analytical mind or if you
                        think you have skills that could add to our company and valued team then please feel free to
                        contact us.
                    </p>
                    <div class="spacer-40"></div>
                    <form action="joinus" method="POST">
                        <div class="row primary-form">
                            <div class="col-12 primary-form__col">
                                <div class="input-wrapper">
                                    <label class="form-label" for="joinName">NAME</label>
                                    <input class="form-input" type="text" id="joinName" name="joinName" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6 primary-form__col pr-md-2">
                                <div class="input-wrapper">
                                    <label class="form-label" for="joinEmail">email</label>
                                    <input class="form-input" type="text" id="joinEmail" name="joinEmail"/>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 primary-form__col pl-md-2">
                                <div class="input-wrapper ">
                                    <label class="form-label" for="joinContactNumber">Contact Number</label>
                                    <input class="form-input" type="text" id="joinContactNumber" name="joinContactNumber"/>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 primary-form__col pr-md-2">
                                <div class="input-wrapper h-100">
                                    <label class="form-label" for="joinMessage">MESSAGE</label>
                                    <textarea class="form-input" name="joinMessage" id="joinMessage"
                                        rows="4"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 primary-form__col pl-md-2">
                                <div class="input-wrapper h-100">
                                    <label class="form-label" for="joinFile">RESUME</label>
                                    <div class="position-relative file-preview-wrapper">
                                        <input class="file-preview__input" type="file" id="joinFile">
                                        <p class="file-preview text-center">
                                            <span class="file-preview__label">Drag and drop file</span>
                                            <svg class="d-block file-preview__icon mx-auto" width="30" height="31"
                                                viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g opacity="0.2">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M0.62502 26.75H29.375C29.7202 26.75 30 27.0298 29.9999 27.375C29.9979 29.1 28.6 30.4979 26.875 30.5H3.12498C1.39998 30.4979 0.00205078 29.1 0 27.375C0 27.0298 0.279844 26.75 0.62502 26.75ZM3.12498 29.25H26.875C27.6694 29.249 28.3773 28.7486 28.6431 28H1.35686C1.6227 28.7486 2.33063 29.249 3.12498 29.25Z"
                                                        fill="black" />
                                                    <path
                                                        d="M3.75 8C2.71447 8 1.875 8.83947 1.875 9.875V27.375H3.12498V9.875C3.12498 9.52982 3.40482 9.24998 3.75 9.24998H4.99998V8H3.75Z"
                                                        fill="black" />
                                                    <path
                                                        d="M26.25 8H25V9.24998H26.25C26.5952 9.24998 26.875 9.52982 26.875 9.875V27.375H28.125V9.875C28.125 8.83947 27.2855 8 26.25 8Z"
                                                        fill="black" />
                                                    <rect x="12.5" y="27.375" width="4.99998" height="1.24998"
                                                        fill="black" />
                                                    <path
                                                        d="M11.25 1.125V4.875C11.25 5.22018 10.9702 5.50002 10.625 5.50002H9.375V6.75H10.625C11.6605 6.75 12.5 5.91053 12.5 4.875V1.125H11.25Z"
                                                        fill="black" />
                                                    <path
                                                        d="M21.875 0.5H11.875C11.7092 0.500059 11.5503 0.565918 11.4331 0.683105L6.43317 5.68309C6.31598 5.80027 6.25006 5.95924 6.25006 6.12494V21.1249C6.25006 22.1605 7.08953 22.9999 8.12506 22.9999H13.125V21.75H8.125C7.77983 21.75 7.49998 21.4701 7.49998 21.1249V6.38375L12.1338 1.74998H21.875C22.2201 1.74998 22.5 2.02982 22.5 2.375V21.125C22.5 21.4702 22.2201 21.75 21.875 21.75H16.875V23H21.875C22.9105 23 23.75 22.1605 23.75 21.125V2.375C23.75 1.33947 22.9105 0.5 21.875 0.5Z"
                                                        fill="black" />
                                                    <path
                                                        d="M15.4419 12.558C15.3247 12.4409 15.1658 12.3751 15.0001 12.375C14.655 12.3749 14.3751 12.6547 14.375 12.9998V25.4998H15.625V14.5086L18.3081 17.1918L19.1919 16.308L15.4419 12.558Z"
                                                        fill="black" />
                                                    <path
                                                        d="M10.8077 16.3081L14.5575 12.5583L15.4414 13.4421L11.6915 17.192L10.8077 16.3081Z"
                                                        fill="black" />
                                                </g>
                                            </svg>
                                            <span class="file-preview__message">or select from computer</span>

                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12 primary-form__col mt-4">
                                <button class="primary-button primary-button--full-width" id="apply">APPLY</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-6 text-center text-lg-left" data-aos="fade-up">
                    <img class="img-fluid" src="/images/team-user.png" alt="user image">
                </div>

            </div>
        </div>
        <!-- ======================
                #END JOIN US SECTION
            ==========================-->
        <!-- ======================
                #CONTACT US
            ============================ -->
        <div id="ContactUs" class="scrollspy-trigger"></div>
        <div class="contact-wrapper">
            <div class="row form-header" data-aos="fade-up">
                <div class="col-12 col-lg-7 col-xl-6">
                    <div class="d-lg-flex text-center text-lg-left mb-4">
                        <h3 class="primary-title mx-auto ml-lg-0 mb-2 mb-lg-0">Contact Us</h3>
                        <p class="form-header__text col ml-lg-4">Have an enquiry or need some help?
                            Fill in the form below to contact our team.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-7 col-xl-6" data-aos="fade-up">
                    <form method="POST" action="send">
                        <div class="row mx-md-0 secondary-form bordered-form">
                            <div class="col-12 px-md-0 bordered-form__col">
                                <div class="input-wrapper">
                                    <label class="form-label" for="name">NAME</label>
                                    <input class="form-input" type="text" id="name" name="name" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6 px-md-0 bordered-form__col">
                                <div class="input-wrapper input-wrapper--border-r-md-0">
                                    <label class="form-label" for="email">email</label>
                                    <input class="form-input" type="text" id="email" name="email" />
                                </div>
                            </div>
                            <div class="col-12 col-md-6 px-md-0 bordered-form__col">
                                <div class="input-wrapper">
                                    <label class="form-label" for="contactNumber">Contact Number</label>
                                    <input class="form-input" type="text" id="contactNumber" name="contactNumber" />
                                </div>
                            </div>
                            <div class="col-12 px-md-0 bordered-form__col">
                                <div class="input-wrapper">
                                    <label class="form-label" for="message">MESSAGE</label>
                                    <textarea class="form-input" name="message" id="message" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="col-12 px-md-0 bordered-form__col">
                                <button class="primary-button primary-button--full-width" type="submit"  id="sendButton">SEND
                                    MESSAGE</button>
                            </div>
                        </div>
                    </form>
                    <div class="conact-footer mt-4">
                        <div class="row mx-0">
                            <div class="col-6 col-sm-4 conact-footer__col">
                                <div class="">
                                    <label class="form-label conact-footer__label font-weight-bold">LANDLINE</label>
                                    <p class="conact-footer__text">0832 2956973</p>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 conact-footer__col">
                                <div class="">
                                    <label class="form-label conact-footer__label font-weight-bold">Mobile</label>
                                    <p class="conact-footer__text">+91 85308 51041</p>
                                </div>

                            </div>
                            <div class="col-6 col-sm-4 conact-footer__col">
                                <div class="">
                                    <label class="form-label conact-footer__label font-weight-bold">EMAIl</label>
                                    <p class="conact-footer__text">contact@smvvedutech.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 col-xl-6 px-0 px-sm-3 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="500">
                    <div class="position-relative d-table map mx-auto mr-lg-0">
                        <!-- ===#VECTOR=== -->
                        <div class="dots-vector dots-vector__right"></div>
                        <img class="img-fluid map__img" src="/images/map.jpg" alt="map">
                        <div class="map-helper">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-6 col-md-3 text-center">
                                    <img class="img-fluid map-helper__icon" width="48" height="70px"
                                        src="/images/icons/map-icon.svg" alt="google map icon">
                                    <a href="https://goo.gl/maps/6KAfx8ehEsojWLts6" target="_blank"
                                        class="map-helper__link">View Map</a>
                                </div>

                                <div class="col-9 col-md-6 text-center text-md-left col-md-5">
                                    <h4 class="map-helper__title mt-2 mt-md-0">SMVV</h4>
                                    <p class="map-helper__text">SMVV Eductech Advisory Pvt Ltd<br>
                                        815,817, Gera's Imperium<br>
                                        Star, Patto, Panjim,<br>
                                        GA 403001</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ======================
                #END CONTACT US
            ============================ -->
    </div>

    <div class="spacer-100"></div>
    <div class="footer-banner w-100">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-8 col-lg-9">
                    <p class="footer-banner__text">Ready to make your dream a reality?</p>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a class="btn primary-button d-flex justify-content-between" href="#">Get in Touch <img
                            class="img-fluid ml-0" src="/images/icons/arrow.svg" alt="arrow"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("sendButton").addEventListener("click", function(){
            alert("Message sent");
    });
</script>
<script>
    document.getElementById("apply").addEventListener("click", function(){
            alert("Message sent");
    });
</script>