/* ==========================================
        #FORMS 
============================================ */
.input-wrapper {
    // margin-bottom: 27px;
    border: 1px solid #e4e6ec;
    // border-radius: 4px;
    padding: 5px 13px;
    background-color: #fff;
    @include sm-min {
        &--border-r-md-0 {
            border-right: 0;
        }
    }
}
.form-label {
    text-transform: uppercase;
    font-size: 10px;
    color: #9098ab;
    display: block;
    margin: 0;
}
.form-input {
    width: 100%;
    border-radius: 6px;
    border: 0;
    padding: 2px;
    &:focus,
    &:active,
    &:hover,
    &:focus-within {
        background-color: $primary-bg;
    }
}

.primary-form {
    &__col {
        margin-bottom: 10px;
    }
    .input-wrapper {
        border-radius: 4px;
    }
}

.secondary-form {
    .bordered-form__col {
        &:first-child {
            .input-wrapper {
                border-radius: 4px 4px 0 0;
            }
        }
    }
    .primary-button {
        border-radius: 0 0 4px 4px;
    }
}

//#FORM HEADER
.form-header {
    &__text {
        color: #365090;
        font-size: 16px;
    }
}

.form-page-container {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    @include md-min {
        max-width: 900px;
    }
    @include md {
        max-width: 485px;
    }
}

.form-wrapper {
    .primary-button {
        border-radius: 6px;
        margin-top: 20px;
        font-size: 24px;
        padding-top: 12px;
        font-weight: 400;
        padding-bottom: 12px;
        @include xs {
            font-size: 18px;
        }
    }
}
.form {
    &__footer {
        font-size: 20px;
        text-align: center;
        margin-top: 17px;
        &-link {
            color: $primary-color;
            &:hover,
            &:active,
            &:focus {
                color: $primary-color;
                text-decoration: underline;
            }
        }
    }
    &__forgot-link {
        background: transparent;
        border: 0;
        color: $primary-color;
        font-weight: bold;
        font-size: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 22px;
        &:hover,
        &:active,
        &:focus {
            color: $primary-color;
            text-decoration: underline;
        }
    }
    &__title {
        font-size: 37px;
        color: #0c1219;
        text-align: center;
        letter-spacing: -0.655286px;
        margin-bottom: 30px;
    }
    &__label {
        font-size: 18px;
        color: rgba(177, 189, 194, 1);
        display: block;
        position: absolute;
        margin-bottom: 0;
        top: 16px;
        transition: top 300ms linear, font-size 300ms linear;
    }
    &__input-wrapper {
        background: #fafafa;
        border-radius: 6px;
        position: relative;
        padding: 13px 16px;
        display: flex;
        align-items: center;
        &:not(:first-child) {
            margin-top: 20px;
        }
    }
    &__input {
        border: 0;
        background-color: transparent;
        width: 100%;
        // min-height: 35px;
        margin-top: 5px;
        font-size: 20px;
        color: #0c1219;
        &:focus,
        &:active,
        &:valid {
            ~ .form__label {
                font-size: 10px;
                top: 6px;
            }
        }
    }
}

.password-toggler {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.error-msg {
    font-size: 14px;
    color: #e40707;
    margin-left: 16px;
}
