//#Colors Base
$primary-color: #ee5134; //#ORANGE
$secondary-color: #717cff; //#PURPLE

$primary-font: #37474f; //# Light black
$secondary-font: #7d7d7d; //#Light gray
$font-color3: #2f2f2f; //#BLACK
$font-color4: #373737;

$primary-bg: #fafafa; //#light gray
$secondary-bg: #23325f; //#dark blue
